/* mobile first design, no media for now */
/* font big enough to click on mobile device: 1rem */
/* use fluid measurement */
* {
    font-size: 1rem;
    font-family: 'IBM Plex superfamily', 'Montserrat', 'Nunito Sans', 'Merriweather';
}

/* header */
header {
    background-color: #00274C;
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100%;
}

header div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header img {
    width: 10%;
    aspect-ratio: 1 / 1;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li {
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    align-items: center;
}

nav li a {
    color: #FFCB05;
    text-decoration: none;
}

nav li.active {
    background-color: #FFCB05;
}

nav li.active a {
    color: #00274C;
    font-weight: bold;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0.5rem;
    color: #FFCB05;
}

/* main - welcome */
h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0.5rem;
    color: #00274C;
    font-weight: bold;
    padding: 0.5rem 0; /* top and bottom padding for spacing */
}

h3 {
    font-size: 1.25rem;
    margin: 0.5rem;
    color: #00274C;
    font-weight: bold;
}

.welcome {
    background-color: #2F65A7;
    color: white;
}

.welcome div {
    margin-bottom: 5%;
}

.welcome h2 {
    color: white;
    background-color: #2F65A7;
} 

.welcome h3 {
    color: white;
    font-weight: bold;
}

.welcome a {
    color: white;
    text-decoration: underline;
}

ul {
    list-style: circle inside;
}

ul li {
    padding: 0.5rem;
}

/* grids */
section, section > div {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

section > *:not(article):not(ul) {
    grid-column: 1 / -1;
    padding: 0.5rem 1rem;
}

section > article, section > div *, section > ul {
    grid-column: 2 / span 1;
}

/* skip to main */
.skip {
    position: absolute;
    top: -100px;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #CFC096;
    color: #00274C;
    font-weight: bold;
}

.skip:focus {
    top: 20px;
}

/* main - others */
img {
    /* center */
    display: block;
    justify-self: center;
    align-self: center;
}

h2 {
    background-color: #FFCB05;
}

/* footer */
footer {
    background-color: #00274C;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer a {
    color: white;
    text-decoration: underline;
}
